<%- include("../includes/header.ejs", {title:"Shelter - " + result[0].shelterName}); %>

<head>
    <title>Shelter - <%= result[0].shelter_id %></title>
</head>
<body>
<h1>Shelter</h1>
<ul>
    <li>Shelter: <%= result[0].shelterName %></li>
    <li>Steet: <%= result[0].street %></li>
    <li>City: <%= result[0].city %></li>
    <li>Zip Code: <%= result[0].zip %></li>


</ul>
<br/>
<a href="/shelter/all">Back to shelters</a>
<br/>
<br/>
<a href="/">Home</a>
</body>

<%- include("../includes/footer.ejs"); %>