<%- include("../includes/header.ejs", {title:"Add New breed"}); %>
<h1>Update <%= breed.breedName%></h1>
<form action="/breed/update" method="get">
    <input type="hidden" id="breed_id" name="breed_id" value="<%= breed.breed_id %>">
    Breed Name: <input type="text" id="breedName" name="breedName" value="<%= breed.breedName%>"/>
    <br />
    <input type="submit" />
</form>
<%- include("../includes/footer.ejs"); %>