<%- include("../includes/header.ejs", {title:"Animal - " + result[0].typeOfAnimal}); %>
<head>
    <title>Animals - <%= result[0].typeOfAnimal %></title>
</head>
<body>
<h1>Animal</h1>
<ul>
    <br/>
    <li>Animal Type: <%= result[0].typeOfAnimal %></li>
    <li>Gender: <%= result[0].sex %></li>
    <li>Weight  (in pounds): <%=result[0].weight_in_Pounds%></li>
    <li>Breed: <%=result[0].breed_name%></li>
    <li>Location: <%=result[0].homeShelt%></li>
    <!--
    <li>Education:</li>
    <ul>
        <for(var i=0; resume_school.length > i; i++ ) {
        <li> resume_school[i].school_name  </li>
        <}
    </ul>
    -->
    <br/>
</ul>
<a href="/animal/all">Back to View All Animals</a>
<br />
<br />
<a href="/">Home</a>
</body>
<%- include("../includes/footer.ejs"); %>